* text=auto !eol
ujf.verimag.bip.ifinder/README.org -text
ujf.verimag.bip.ifinder/bin/ichecker.sh -text
ujf.verimag.bip.ifinder/bin/ifinder.sh -text
ujf.verimag.bip.ifinder/build.properties -text
ujf.verimag.bip.ifinder/build.xml -text
ujf.verimag.bip.ifinder/examples/safenav/README -text
ujf.verimag.bip.ifinder/examples/safenav/demo.bip -text
ujf.verimag.bip.ifinder/examples/safenav/inv1.scheme -text
ujf.verimag.bip.ifinder/examples/simple/hierarchical.bip -text
ujf.verimag.bip.ifinder/examples/tgc/README -text
ujf.verimag.bip.ifinder/examples/tgc/inv1.scheme -text
ujf.verimag.bip.ifinder/examples/tgc/tgc.bip -text
ujf.verimag.bip.ifinder/ivy.xml -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/Analysis.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/AtomControlAnalysis.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/ControlReachabilityAnalysis.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/Helper.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/InteractionTimeAnalysis.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/LinearAnalysis.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/PropagationAnalysis.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/TrapAnalysis.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/ZoneReachabilityAnalysis.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/petrinet/XPetriNet.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/petrinet/XTransition.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/Bound.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/Marking.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/MarkingComparator.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/StateInfo.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/TConstraints.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/TResets.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/XPetriNetExplorer.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/XTransitionInfo.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/analysis/reachability/Zone.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/Assertion.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/AtBooleanAssertion.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/AtLinearAssertion.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/AtVariable.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/BasicAssertion.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/ClockBoundAssertion.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/ClockMinAssertion.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/ClockVariable.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/ComposedAssertion.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/DataAssertion.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/DataVariable.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/GenuineClockVariable.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/HistoryClockVariable.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/Invariant.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/Variable.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/invariant/VariableComparator.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/tool/IChecker.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/tool/IFinder.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/tool/Model.java -text
ujf.verimag.bip.ifinder/src/main/java/ujf/verimag/bip/ifinder/tool/Tool.java -text
